* {
	transition: ease-in-out 0.15s;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: black;
	text-align: center;
	margin: auto;
	display: table;
}

h1, h2, h3, h4, h5, h6, span, p {
	color: white;
	font-family: Helvetica, Arial, Verdana;
}

svg.main {
	height: 600px;
	width: 600px;
	margin-top: 20px;
	border-radius: 20px;
	background-color: grey;
}

svg.turn {
	height: 80px;
	width: 80px;
	vertical-align: middle;
}

svg.x {
	height: 200px;
	width: 200px;
}

line {
	stroke-linecap: round;
	stroke-width: 20;
	stroke: white;
}

circle {
	stroke-width: 20;
	stroke: white;
}

rect {
	height: 200px;
	width: 200px;
}

rect.clickable:hover {
	fill: #555;
	cursor: pointer;
}

rect.clickable:active {
	fill: #333;
}

#turn {
	height: 80px;
}

#turn-header {
	display: inline-block;
	line-height: 40px;
}

.turn > .x > line {
	stroke-width: 10;
}

.turn > circle {
	stroke-width: 10;
}

.wrapper {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.inlinify {
	display: inline-block;
}

.verticalify {
	vertical-align: middle;
}

.main > .ng-hide {
  transition: 0.5s linear all;
  opacity: 0;
}