<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
        <title>Tic Tac Toe</title>
        <link href="css/index.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.js"></script>
        <script src="js/index.js"></script>
    </head>
    <body ng-app ng-controller="thisController">
	    <div class="wrapper">
	    	<div>
		    	<div id="turn" class="inlinify verticalify">
		    		<h3 id="turn-header">Turn: </h3>
		    	</div>
		    	<svg class="inlinify turn">
					<svg class="x" ng-show="turn === 1">
						<line x1="20" y1="20" x2="60" y2="60" />
						<line x1="60" y1="20" x2="20" y2="60" />
					</svg>
					<circle cx="40" cy="40" r="25" ng-show="turn === 2" />
				</svg>
			</div>
	    	<svg class="main" ng-click="refresh()" viewBox="0 0 600 600">
				<rect ng-click="move(0, 0)" class="{{ !cells[0][0] && !win && !draw? 'clickable' : cell00? colorize : null }}" x="0" y="0"/>
					<svg class="x" ng-show="cells[0][0] === 1">
						<line x1="55" y1="55" x2="145" y2="145" />
						<line x1="55" y1="145" x2="145" y2="55" />
					</svg>
					<circle cx="100" cy="100" r="55" ng-show="cells[0][0] === 2"/>
				<rect ng-click="move(0, 1)" class="{{ !cells[0][1] && !win && !draw? 'clickable' : cell01? colorize : null }}" x="200" y="0" />
					<svg x="200" class="x" ng-show="cells[0][1] === 1">
						<line x1="55" y1="55" x2="145" y2="145" />
						<line x1="55" y1="145" x2="145" y2="55" />
					</svg>
					<circle cx="300" cy="100" r="55" ng-show="cells[0][1] === 2"/>
				<rect ng-click="move(0, 2)" class="{{ !cells[0][2] && !win && !draw? 'clickable' : cell02? colorize : null }}" x="400" y="0" />
					<svg x="400" class="x" ng-show="cells[0][2] === 1">
						<line x1="55" y1="55" x2="145" y2="145" />
						<line x1="55" y1="145" x2="145" y2="55" />
					</svg>
					<circle cx="500" cy="100" r="55" ng-show="cells[0][2] === 2" />


				<rect ng-click="move(1, 0)" class="{{ !cells[1][0] && !win && !draw? 'clickable' : cell10? colorize : null }}" x="0" y="200" />
					<svg x="0" y="200" class="x" ng-show="cells[1][0] === 1">
						<line x1="55" y1="55" x2="145" y2="145" />
						<line x1="55" y1="145" x2="145" y2="55" />
					</svg>
					<circle cx="100" cy="300" r="55" ng-show="cells[1][0] === 2" />
				<rect ng-click="move(1, 1)" class="{{ !cells[1][1] && !win && !draw? 'clickable' : cell11? colorize : null }}" x="200" y="200" />
					<svg x="200" y="200" class="x" ng-show="cells[1][1] === 1">
						<line x1="55" y1="55" x2="145" y2="145" />
						<line x1="55" y1="145" x2="145" y2="55" />
					</svg>
					<circle cx="300" cy="300" r="55" ng-show="cells[1][1] === 2" />
				<rect ng-click="move(1, 2)" class="{{ !cells[1][2] && !win && !draw? 'clickable' : cell12? colorize : null }}" x="400" y="200" />
					<svg x="400" y="200" class="x" ng-show="cells[1][2] === 1">
						<line x1="55" y1="55" x2="145" y2="145" />
						<line x1="55" y1="145" x2="145" y2="55" />
					</svg>
					<circle cx="500" cy="300" r="55" ng-show="cells[1][2] === 2" />


				<rect ng-click="move(2, 0)" class="{{ !cells[2][0] && !win && !draw? 'clickable' : cell20? colorize : null }}" x="0" y="400" />
					<svg x="0" y="400" class="x" ng-show="cells[2][0] === 1">
						<line x1="55" y1="55" x2="145" y2="145" />
						<line x1="55" y1="145" x2="145" y2="55" />
					</svg>
					<circle cx="100" cy="500" r="55" ng-show="cells[2][0] === 2" />
				<rect ng-click="move(2, 1)" class="{{ !cells[2][1] && !win && !draw? 'clickable' : cell21? colorize : null }}" x="200" y="400" />
					<svg x="200" y="400" class="x" ng-show="cells[2][1] === 1">
						<line x1="55" y1="55" x2="145" y2="145" />
						<line x1="55" y1="145" x2="145" y2="55" />
					</svg>
					<circle cx="300" cy="500" r="55" ng-show="cells[2][1] === 2" />
				<rect ng-click="move(2, 2)" class="{{ !cells[2][2] && !win && !draw? 'clickable' : cell22? colorize : null }}" x="400" y="400" />
					<svg x="400" y="400" class="x" ng-show="cells[2][2] === 1">
						<line x1="55" y1="55" x2="145" y2="145" />
						<line x1="55" y1="145" x2="145" y2="55" />
					</svg>
					<circle cx="500" cy="500" r="55" ng-show="cells[2][2] === 2" />

				<line class="lines" x1="200" y1="5" x2="200" y2="595" />
				<line class="lines" x1="400" y1="5" x2="400" y2="595" />

				<line class="lines" x1="5" y1="200" x2="595" y2="200" />
				<line class="lines" x1="5" y1="400" x2="595" y2="400" />
	    	</svg>
	    </div>
    </body>
</html>
